

<div class="container">
  <div class="item1">    
      <h2> WELCOME <br>
        TO CYBER-SHOP 
      </h2>
  </div> <br>
  <div class="item3">
    <p>
      Hello there ! Thank you for visting our website. Here at Cyber-Shop you can shop all variety of items fast and easy.
      A one stop place for shopping all your needs.You will have a great experience here and will surely feel like the best online shop in the planet! 
    </p>
    <li class="nav-item">
      <br><br>
        <a  class="nav-link" routerLink='/categories'>Let's Get Started</a>
     </li>
  </div> 

  <div class="item6">
      <br><br><br>
      <p> &copy;CyberShop.com, Inc All rights reserved </p>
  </div>
</div>

